

## Úkol č. 8

Úkol můžeš odevzdat buďto jako Jupyter Notebook .ipynb, nebo jako klasický program .py.
Stáhni si dataset, který obsahuje seznam zvířat k adopci v ZOO Praha. Zdroj dat je Národní katalog otevřených dat.
Data si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.

In [78]:
import pandas

zvirata = pandas.read_csv('adopce-zvirat.txt', sep= ";")
zvirata

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?

In [79]:
zvirata.shape

(513, 6)

In [80]:
zvirata.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [81]:
zvirata[["nazev_cz","nazev_en"]].iloc[34]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object


### Nepovinný bonus

Adopce kterých zvířat je nejdražší?

In [82]:
max_cena = zvirata["cena"].max()
zvirata[zvirata["cena"] == max_cena]

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
113,334,Tygr ussurijský,Siberian tiger,Savci,50000,1
114,335,Tygr sumaterský,Sumatran tiger,Savci,50000,1
128,381,Slon indický,Asian elephant,Savci,50000,1
129,385,Hroch obojživelný,Hippopotamus,Savci,50000,1
135,396,Žirafa severní núbijská (= Rothschildova),Rothschild's giraffe,Savci,50000,1
272,897,Tygr malajský,Malayan tiger,Savci,50000,1

Které zvíře je alfabeticky poslední v češtině? Které v angličtině?

In [83]:
zvirata.sort_values("nazev_cz").tail(1)

       id     nazev_cz                nazev_en trida_cz  cena  k_prohlidce
371  1190  Žluva hajní  Eurasian golden oriole    Ptáci  1000            1

In [84]:
zvirata.sort_values("nazev_en").tail(1)

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
161,491,Frankolín žlutokrký,Yellow-necked francolin,Ptáci,1000,1

Volitelné:
- vypiš ze všech ve třídě Ptáci nejdražších 5 k adopci:

In [85]:
zvirata[zvirata["trida_cz"] == "Ptáci"].sort_values("cena").tail(5)

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
271,895,Člunozobec africký,Shoebill,Ptáci,6000,1
25,87,Pelikán bílý,Eastern white pelican,Ptáci,8000,1
413,1278,Pelikán skvrnozobý,Spot-billed pelican,Ptáci,8000,0
22,84,Kasuár přílbový,Southern cassowary,Ptáci,8000,1
26,88,Pelikán kadeřavý,Dalmatian pelican,Ptáci,8000,1

- jaká je průměrná cena adopce:

In [86]:
zvirata['cena'].mean()

3309.941520467836